<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    
    <div class = "user-info-container">
        <img class="profile-image" src = "<%= profileImageUrl %>" alt = "an image" >       
        <div class ="user-info">
            <h1 class="full-name"><%= name %></h1>
            <h2  class="username"><%= username %></h2>
            <h2  class="email"><%= email %></h2>
   
        </div>
        
    </div>

    <section>
        <!-- <h2></h2> -->
        <div>
            <ol>
                <% posts.forEach(function(post) {%>
                    <li class = "post">
                        
                                   
                       
                        <p> 
                            <h3> <%= post.username %></h3>
            
                            <p class ="post-date"><%=post.createdAt%></p>
                            
                            <h4><%= post.message %> </h4> 
            
                            <img src = <%= post.imageUrl %> alt = "an image" >
                            
                                    
                            
                        </p>
                        
                      
                        
                        
                    </li>
                <% }); %>
            </ol>
        </div>
    </section>

</body>
<%- include('_footer') -%>
</html>