<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    
    <div class = "user-info-container">
        <img class="profile-image" src = "<%= user.profileImageUrl %>" alt = "an image" >       
        <div class ="user-info">
            <h1 class="full-name"><%= user.name %></h1>
            <h2  class="username"><%= user.username %></h2>
            <h2  class="email"><%= user.email %></h2>
   
        </div>
        
    </div>

    <section class = "post-section">
        <h2><%= user.name.split(" ")[0]%>'s Posts</h2>
        <div>
            <ol>
                <% user.posts.forEach(function(post) {%>
                    <li class = "post">
                        <div class = "post-container"> 
                            <img src = <%= post.imageUrl %> alt = "an image" >
                            <div class = "post-info-container">
                                <h3> <%= user.username %></h3>
                                <p class ="post-date"><%= format(post.createdAt, "dd/MM/yyyy") %></p>
                                <h4><%= post.message %> </h4> 
                            </div>
                        </div>
                    </li>
                <% }); %>
            </ol>
        </div>
    </section>

</body>
<%- include('_footer') -%>
</html>